*.py[oc]

# Temp files
*~
~*
.*~
\#*
.#*
*#
dist

# Build files
build
dist
pkg
*.egg
*.egg-info

# Debian Files
debian/files
debian/python-aws-hostname*

# Sphinx build
doc/_build

# Generated man page
doc/aws_hostname.1

# Annoying macOS files
.DS_Store
._*

# IDE configuration files
.vscode
.atom

