autopep8==2.3.1
black==24.4.2
bleach==6.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.21.2
flake8==7.1.0
gitchangelog==3.0.4
idna==3.7
importlib-metadata==7.2.1
jaraco.classes==3.4.0
keyring==25.2.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.3.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pkginfo==1.11.1
platformdirs==4.2.2
pycodestyle==2.12.0
pyflakes==3.2.0
Pygments==2.18.0
readme-renderer==43.0
requests==2.32.3
requests-toolbelt==1.0.0
restructuredtext-lint==1.4.0
rfc3986==2.0.0
rich==13.7.1
setuptools==70.1.1
six==1.16.0
tqdm==4.66.4
twine==5.1.0
urllib3==2.2.2
webencodings==0.5.1
zipp==3.19.2
