# Linting & Formatting
autopep8==2.3.2
black==26.1.0
flake8==7.3.0

# Testing
pytest==9.0.2

# Release & Publishing
twine==6.2.0
gitchangelog==3.0.4
setuptools==80.10.1

# Documentation
restructuredtext-lint==2.0.2
