autopep8==2.3.2
black==25.1.0
bleach==6.2.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
docutils==0.21.2
flake8==7.2.0
gitchangelog==3.0.4
idna==3.10
importlib-metadata==8.7.0
jaraco.classes==3.4.0
keyring==25.6.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.7.0
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pkginfo==1.12.1.2
platformdirs==4.3.8
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.19.1
readme-renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
restructuredtext-lint==1.4.0
rfc3986==2.0.0
rich==14.0.0
setuptools==80.9.0
six==1.17.0
tqdm==4.67.1
twine==6.1.0
urllib3==2.4.0
webencodings==0.5.1
zipp==3.23.0
