name: automatic-release

on:
    workflow_dispatch:
        inputs:
            release_type:
                description: Release type
                required: true
                type: choice
                options:
                    - patch
                    - minor
                    - major

jobs:
    release:
        name: Release
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5
              with:
                fetch-depth: 0
                ssh-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
            - name: Setup Git
              run: |
                git config --local user.email "action@github.com"
                git config --local user.name "GitHub Action"
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12'
            - name: Install prerequisites
              run: pip install -r release-requirements.txt
            - name: Execute release
              env:
                SEMVER_BUMP: ${{ github.event.inputs.release_type }}
                TWINE_REPOSITORY: ${{ vars.TWINE_REPOSITORY }}
                TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
                TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
              run: ./release $SEMVER_BUMP
